<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331534203370-eb01jrqjhbld6a58m2fvefo7k1huufdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331534203370-eb01jrqjhbld6a58m2fvefo7k1huufdq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331534203370-4ins7ig22m70uegt5a9knefejc3uko1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWrwLQPfH6srXN_dYan6XzdRtaj4e0aok</string>
	<key>GCM_SENDER_ID</key>
	<string>331534203370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isa12.StockEasy</string>
	<key>PROJECT_ID</key>
	<string>stock-easy-7eced</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-easy-7eced.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331534203370:ios:ba9a3c95566db3782dda93</string>
</dict>
</plist>